header {
  padding: 2px 35px;
  margin: 0%;
  border-radius: 0%;
  background-color: #1b40e4;
  color: aliceblue;
}

#current-weather {
  background-color: #f6f6f6;
  padding: 20px;
  height: 350px;
  width: 1200px;
  color: #000000;
  position: relative;
  float: right;
  border-style: solid;
  border-width: 3px;
  
}

#fiveday {
    display: flex;
    border-style: dotted;
    border-color: red;
    float: right;
    padding: 20px;
    width: 1200px;
    height: 320px;
    position:absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    }


#dayone {
    margin: 30px;
    background-color: darkgray;
    padding: 5px;
    width: 150px;
    height: 200px;
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    border-radius: 20px;

}
#daytwo {
    margin: 30px;
    background-color: darkgray;
    padding: 5px;
    width: 150px;
    height: 200px;
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    border-radius: 20px;

}
#daythree {
    margin: 30px;
    background-color: darkgray;
    padding: 5px;
    width: 150px;
    height: 200px;
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    border-radius: 20px;

}
#dayfour {
    margin: 30px;
    background-color: darkgray;
    padding: 5px;
    width: 150px;
    height: 200px;
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    border-radius: 20px;

}
#dayfive {
    margin: 30px;
    background-color: darkgray;
    padding: 5px;
    width: 150px;
    height: 200px;
    border-style: dotted;
    border-color: red;
    border-width: 2px;
    border-radius: 20px;

}